/* .content{
    padding: 15px 0;
    height: 100%;;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
     
} */
.card{
    /* border: 1px solid white !important; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    border: none;
    margin-top: 20px;
    
}
.img{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.cardBody{
    /* border: 1px solid yellow; */
    display: flex ;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
   

}
.company{
  line-height: 19px;
}

/* .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  } */
  
  /* .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  } */
  

@media (max-width: 770px) {
   
    .card{
        /* border: 1px solid red; */
        justify-content:space-around;
        width: 48%;
        margin-right: 10px;
        
    }
  }
  @media (max-width: 670px) {
    
    .content{
        justify-content: center;
    }
    .card{
        /* border: 1px solid red; */
        justify-content:space-around;
        width: 60%;
        margin-right: 10px;
        
    }
  }
