
.card{
    /* border: 1px solid white !important; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    border: none;
    margin-top: 20px;
    
}
.img{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.cardBody{
    /* border: 1px solid yellow; */
    display: flex ;
    flex-direction: column;
    justify-content:flex-end;
    color: white;
   

}
.company{
  line-height: 19px;
}

@media (max-width: 770px) {
   
    .card{
        /* border: 1px solid red; */
        justify-content:space-around;
        width: 48%;
        margin-right: 10px;
        
    }
  }
  @media (max-width: 670px) {
    
    .content{
        justify-content: center;
    }
    .card{
        /* border: 1px solid red; */
        justify-content:space-around;
        width: 60%;
        margin-right: 10px;
        
    }
  }
