.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 75px;
    border: none;
    
}
.img{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
/* style="max-width: 540px;" */
.cardBody{
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    /* text-align: center; */
    color: white;
}
