.component{
    /* border: 1px solid green; */
    
    margin: 10px;
}
/* .header{
    border: 1px solid red;
} */
.content{
    padding: 15px 0;
    /* height:500px; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    border: 1px solid red;
   
}

