.component{
    /* border: 1px solid green; */
    
    margin: 10px;
}

.content{
    padding: 15px 0;
    height: 100%;;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-content: flex-start;

   
}
